/* Container */
.login-container {
    width: 100%;
    max-width: 400px; /* Center container and limit its width */
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9; /* Soft background color */
    border-radius: 15px; /* Rounded corners */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Center align children */
    gap: 10px; /* More space between children */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
}

.Logo {
    width: 50px; /* Adjust the logo size */
    height: auto;
    margin-bottom: 50px; /* Space between logo and form */
}

/* Headings */
.heading {
    text-align: center;
    margin: 0 0 15px;
    color: #333; /* Softer black color */
    font-size: 2em; /* Increase font size */
    font-weight: bold; /* Make the heading bold */
}

/* Form */
.login-container form {
    width: 100%; /* Ensure form takes full width */
    display: flex;
    flex-direction: column;
    gap: 10px; /* More space between form elements */
}

/* Labels */
.login-container label {
    color: #666; /* Softer color */
    font-size: 1em; /* Consistent font size */
    font-family: 'Arial', sans-serif;
    font-weight: 500; /* Medium weight */
}

/* Input fields */
.login-container input[type="text"], 
.login-container input[type="password"] {
    width: 95%;
    padding: 8px; /* Adjusted padding */
    margin-bottom: 10px;
    border: 1px solid #ccc;
    color: #333;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    transition: border-color 0.3s ease; /* Smooth transition */
}

.login-container input[type="text"]:focus, 
.login-container input[type="password"]:focus {
    border-color: #007BFF; /* Change border color on focus */
    outline: none; /* Remove default outline */
}

/* Button */
.login-container button {
    background-color: #121213;
    color: #fff;
    padding: 10px 15px; /* Adjusted padding */
    border: none;
    border-radius: 8px;
    cursor: pointer;
    width: 100%;
    max-width: 200px;
    font-size: 1em;
    font-weight: bold;
    transition: background-color 0.3s ease; /* Smooth transition */
    margin-top: 10px;

}

.login-container button:hover {
    background-color: #323232; /* Darker blue on hover */
}

.register-container button:hover {
    background: #404041; /* Darker background on hover */
}
